header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px 0 100px;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    font-size: 20px;
}
#menu-header{
    opacity: 0;
  margin-top: -50px;
}
.menu_li{
    text-decoration: none;
    color: black;
}
.menu_li:hover{
    color: blue;
    text-decoration: underline;
        }

.logo_im{
    width: 80px;
    height: 80px;
}
.hero{
    background: url(images/bg-01.jpg) center;
    height: 600px;
    margin-top: 20px;
    display: flex;
   justify-content: space-around;
   align-items: center;
   align-content: center;
   flex-wrap: nowrap;

}
.overlay{ 
    position: absolute;
    width: 100%;    
    height: 600px;
    background-color: rgb(90, 90, 245);
    opacity: 0.6;
    z-index: 2;
}
.form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
width: 350px;
height: 450px;
background: white;
border-radius: 20px;
z-index: 3;
margin-left: 10px;
}
.form_name{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: blue;
    padding: 40px 0 20px 35px;
}
.form_inp{
margin: 0 30px 20px 30px; 
height: 50px;
border-radius: 10px;
background-color: rgb(231, 231, 231);
border: 2px solid rgb(231, 231, 231);
}
.form_inp:hover{
    cursor: pointer;
    border: 2px solid rgb(0, 0, 255);
}
.form-select-lg{
    margin: 0 30px 20px 30px; 
height: 50px;
width: 290px;
border-radius: 10px;
background-color: rgb(231, 231, 231);
border: 2px solid rgb(231, 231, 231);
color: #616161;
}
select:hover{
    cursor: pointer;
    border: 2px solid rgb(0, 0, 255);
}
.button_form{
    background-color: blue;
    cursor: pointer;
    height: 50px;
    width: 180px;
    border: 2px solid blue;
    margin: 20px 30px 0 140px; 
    border-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: white;
    opacity: 0.6;
}
.hero_text{
    position: relative;
    display: flex;
    flex-direction: column;
margin-left: 20px;
z-index: 2;
gap: 40px;
}
.text1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    color: white;
    
}
.text2{
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: white;
}
.h_feature{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: blue;
    text-align: center;
    margin-top: 80px;
}
.par_feature{
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: black;
    text-align: center; 
}
.photo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 150px;
   
}

.container {
    position: relative;
    width: calc(100%/4);
    padding: 0;
  }
  
  .photo_img {
    width:  100%;
    height: auto;
   
  }
  
  .overlay_01 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
  }
  
  .container:hover .overlay_01 {
    background-color: rgb(90, 90, 245);
    opacity: 0.6;
    cursor: pointer;
  }
.icon_serch{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
    
}
  .fa-magnifying-glass{
    color: blue;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
 .fa-magnifying-glass:hover {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about{
    display: flex;
flex-direction: row;
justify-content: space-around;
margin-top: 100px;
gap: 30px;

  }
  .right{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 400px;
   margin: 0 15px 0 50px;

  }
  .h_right{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: blue;
    text-align: left;
  }
  .rounded-start{
    width: 100%;
    height: 100%;
    }
  .mini_sect{
    background: url(images/bg-02.jpg) center no-repeat;
    background-size: cover;
    height: 800px;
    margin-top: 100px;
    overflow: hidden;
    
  }
 .overlay_mini{
    position: absolute;
    width: 100%;    
    height: 800px;
    background-color: rgb(90, 90, 245);
    opacity: 0.6;
    z-index: 2;
    overflow: hidden;
}
.mini_cont{
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;
    align-content: space-around;
    gap: 15px;  
    margin: 0 20px;  
}
.mini_ul{
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
    color: white;
    justify-content: center;
    list-style-type: none;
  
}
.mini_cont_img{
    border: 2px solid;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mini_ul li{
    text-align: center;
   width: calc(100%/4);
    height: 350px; 
    display: flex;
    align-content:space-around;
    z-index: 3;
}
.price{
    background: url(images/bg-03.jpg) no-repeat 100% 100%;
 background-position: right bottom;
    margin-top: 80px;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:space-around;
}
.container_price{
    box-shadow: 5px 5px 5px gray;
    width: calc(100%/4);
    display: flex;
   text-align: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.993);
    gap: 15px;  
    margin: 50px 20px 150px 20px; 
    border-radius: 10px;
}
.card{
    box-shadow: 5px 5px 5px gray; 
    cursor: pointer;
}
.blue_price{
    background-color: rgb(98, 0, 255);
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
}
.blue_price_1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-align: center;
   
}
.numb_pr{
    font-family: 'Hind Siliguri';
    font-weight: 700;
    font-size: 60px;
    color: white;
    text-align: center;
}
.ico_price{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: white;
    padding-right: 10px;
  
}
.info_price{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    color: gray;
    margin: 0;
}
hr{
    width: 100px;
 margin: 0 35% 0 35%;
}
.cont_but_price{
    display: flex;
align-items: center;
justify-content: center;
margin: 20px 0 30px 0;
}
.but-price{
    background-color:  rgb(98, 0, 255);
    border: 2px solid  rgb(98, 0, 255);
    border-radius: 20px;
    cursor: pointer;
    width: 200px;
height: 50px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
color: white;
display: flex;
align-items: center;
justify-content: center;
}
.last_contact{
    width: 100%;
    background-color: rgb(90, 90, 245);
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: space-around;
}
.first{
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;
    width: 400px;
    height: 500px;
}
.h_last{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: white;
    text-align: left;
    margin-top: 80px;
}
.p_last{
    margin-top: 50px;
}
.icon_ab{
    display: flex;
 gap: 15px;
 cursor: pointer;
}

.contact{
    display: flex;
    flex-direction: column;
  padding-top: 100px;
    gap: 60px;
    color: white;
    width: 500px;
    height: 500px;
}
.info_d{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    color: white;
}
address{
    display: flex;
    font-size: 15px;
    gap: 10px;
}
.fa-map-location-dot{
    padding-top: 5px;
}
.mail{
    display: flex;
    gap: 10px;  
}
.fa-envelope{
    padding-top: 5px; 
}
.mail_a{
    color: white;
    font-size: 15px;
}

.fa-phone-volume{
    padding-top: 5px; 
}
.phone_f1{
    color: white;
    padding-left: 5px;
}
.phone_f2{
    color: white;
    padding-left: 25px;
}
.site{
    display: flex;
    gap: 10px;
    transform: translateX(-23px);
}
.fa-globe{
    padding-top: 5px;
}
.site_a{
    color: white;
}
footer{
    background: rgb(84, 84, 194);
    height: 75px;
   color: rgb(186, 186, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 991px){  
    .hero_text{
    margin-left: 80px;
    }
    
    .form{
    width: 250px;
    height: 350px;
    margin-left: 20px;
    }
    .form-select-lg{
    height: 40px;
    width: 190px;
    font-size: 15px; 
    }
    
    .button_form{
        height: 40px;
        width: 100px;
        margin: 15px 30px 20px 110px; 
        font-size: 18px;    
    }
    .text1{
        font-size: 55px; 
    }
    .text2{
        font-size: 25px;
    }
    .container_price{
        width: calc(100%/3);
    }
    .menu_li{
        font-size: 15px;
    }
    .logo_im{
        width: 70px;
        height: 70px;
    }
    .h_last{
        padding: 0 10px 0 15px;
        font-size: 20px;
    }
    .p_last{
        font-size: 15px;
        padding: 0 10px 0 15px;
    }
    .icon_ab{
        padding: 0 10px 0 15px; 
    }
    h3{
        font-size: 20px;  
        padding-left: 25px; 
    }
    .info_d{
        padding: 0 20px 0 20px;  
        justify-content: space-around;
    }

    
       
      
}
@media (max-width: 767px){

      .menu-btn{
        display: flex; 
        align-items: center; 
        position: fixed;
        justify-content: space-between;
        right: 20px;
        width: 26px;
        cursor: pointer;
      z-index: 5;
    }
    .menu-btn>span,
    .menu-btn>span::before,
    .menu-btn>span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: blue;
      z-index: 6;
    }
    .menu-btn > span::before {
        content: '';
        top: -8px;
        z-index: 6;
      }
    .menu-btn > span::after {
        content: '';
        top: 8px;
        z-index: 6;
      }
      .menu {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        width: 100%;
        height: 350px;
        margin: 85px 0 0 0;
        padding: 0;
        list-style: none;
        text-align: center;
        background-color: white;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        z-index: 4;
        opacity: 1;
      }
      .menu_li {
        display: block;
        padding: 12px 24px;
       color: black;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        z-index: 5;
      }
      .menu_li:hover {
        background-color: rgb(230, 230, 247);
        z-index: 6;
      }
      #menu-header:checked ~ .menu-btn > span {
        transform: rotate(45deg);
        z-index: 6;
      }
        
      #menu-header:checked ~ .menu-btn > span::before {
        top: 0;
        transform: rotate(0);
        z-index: 6;
      }
      
      #menu-header:checked ~ .menu-btn > span::after {
        top: 0;
        transform: rotate(90deg);
       z-index: 6;
      }
      
      #menu-header:checked ~ .menu{
        visibility: visible;
        right: 0; 
      }
      header{
        margin: 0 0 0 80px;
    }
      .hero{
        background: url(images/bg-01.jpg) 60%;
        flex-direction: column;
    }
      .hero_text{
        gap: 15px;
        margin: 0;
        }
        .form{
        width: 250px;
        height: 350px;
        margin-top: 20px;
        }
        .form-select-lg{
        height: 40px;
        width: 190px;
        font-size: 15px; 
        }
        
        .button_form{
            height: 40px;
            width: 100px;
            margin: 15px 30px 20px 110px; 
            font-size: 18px;    
        }
        .text1{
            font-size: 40px;
        }
        .text2{
            font-size: 23px;
            text-align: center;
        }
        .container {
            width: calc(100%/2);
          }
          .about{
  flex-direction: column;
  }
 .p_mini{
    font-size: 15px;
 }
  .mini_cont{
     gap: 10px;  
 }
  .mini_ul li{  
   width: calc(100%/2);
    align-content:center;
    height: 200px; 
}
        .container_price{
            width: 350px;
        }
        .menu_li{
            font-size: 15px;
        }
        .logo_im{
            width: 70px;
            height: 70px;
        }
        .h_last{
            padding: 0 10px 0 15px;
            font-size: 20px;
        }
        .p_last{
            font-size: 15px;
            padding: 0 10px 0 15px;
        }
        .icon_ab{
            padding: 0 10px 0 15px; 
        }
        h3{
            font-size: 20px;  
            padding-left: 25px; 
        }
        .info_d{
            padding: 0 20px 0 20px;  
            justify-content: space-around;
        }
        .last_contact{
            flex-direction: column;
        justify-content: left;
        }
        .contact{
            flex-direction: column;
          padding-top: 0;
            gap: 30px;
            width: 100%;
            height: 300px;
        }
        .info_d{
            flex-direction: column;
            justify-content: left;
            gap: 10px;

        }
        .phone_f1{
            padding-left: 0;
        }
        .phone_f2{
            padding-left: 20px;
        }
        .site{
            transform: translateX(0);
        }
        .fa-globe{
            padding-top: 0;
        }
        .first{
           margin-bottom: 50px;
            width: 100%;
            height: 300px;
            justify-content: left;
           text-align: left;
        }
       
    
}
@media (max-width: 570px){
    header{
        margin: 0 0 0 20px;
    }
  
    .menu-btn{
        display: flex; 
        align-items: center; 
        position: fixed;
        justify-content: space-between;
        right: 20px;
        width: 26px;
        cursor: pointer;
      z-index: 5;
    }
    .menu-btn>span,
    .menu-btn>span::before,
    .menu-btn>span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: blue;
      z-index: 6;
    }
    .menu-btn > span::before {
        content: '';
        top: -8px;
        z-index: 6;
      }
    .menu-btn > span::after {
        content: '';
        top: 8px;
        z-index: 6;
      }
      .menu {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        width: 100%;
        height: 250px;
        margin: 85px 0 0 0;
        padding: 0;
        list-style: none;
        text-align: center;
        background-color: white;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        z-index: 4;
        opacity: 1;
      }
      .menu_li {
        display: block;
        padding: 5px 24px;
       color: black;
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
        margin-right: 0;
        z-index: 5;
      }
      .menu_li:hover {
        background-color: rgb(230, 230, 247);
        z-index: 6;
      }
      #menu-header:checked ~ .menu-btn > span {
        transform: rotate(45deg);
        z-index: 6;
      }
        
      #menu-header:checked ~ .menu-btn > span::before {
        top: 0;
        transform: rotate(0);
        z-index: 6;
      }
      
      #menu-header:checked ~ .menu-btn > span::after {
        top: 0;
        transform: rotate(90deg);
       z-index: 6;
      }
      
      #menu-header:checked ~ .menu{
        visibility: visible;
       
      }
      .hero{
        background: url(images/bg-01.jpg) 60%;
        width: 100%;
        flex-direction: column;
    }
      .hero_text{
        gap: 10px;
        margin: 0;
        }
        .form{
        width: 250px;
        height: 350px;
        margin-top: 20px;
        }
        .form-select-lg{
        height: 40px;
        width: 190px;
        font-size: 15px; 
        }
        
        .button_form{
            height: 40px;
            width: 100px;
            margin: 15px 30px 20px 110px; 
            font-size: 18px;    
        }
        .text1{
            font-size: 30px;
        }
        .text2{
            font-size: 18px;
            text-align: center;
        }
        .container {
            width: calc(100%/2);
          }
          .about{
  flex-direction: column;
  }
  .right{
    width: 100%;
    margin: 0;
    padding: 0 10px 0 10px;
   }
   .h_right{
    font-size: 22px;
  }
   .p_about{
    font-size: 15px;
    text-align: justify;
   }
 .p_mini{
    font-size: 10px;
 }
  .mini_cont{
     gap: 10px;  
 }
  .mini_ul li{  
   width: 300px;
    align-content:center;
    height: 200px; 
}
.mini_sect{
    height: 100%;
  }
  .overlay_mini{ 
    height: 1616px;
}
        .container_price{
            width: 350px;
        }
        .menu_li{
            font-size: 15px;
        }
        .logo_im{
            width: 70px;
            height: 70px;
        }
        .h_last{
            padding: 0 10px 0 15px;
            font-size: 17px;
        }
        .p_last{
            font-size: 13px;
            padding: 0 20px 0 15px;
        }
        .icon_ab{
            padding: 0 10px 10px 15px; 
        }
        h3{
            font-size: 17px;  
            padding-left: 25px; 
            margin-top: 20px;
        }
        .info_d{
            padding: 0 20px 0 20px;  
            justify-content: space-around;
        }
        .last_contact{
            flex-direction: column;
        justify-content: left;
        }
        .contact{
            flex-direction: column;
         margin-top: 50px;
            gap: 30px;
            width: 100%;
            height: 300px;

        }
        .info_d{
            flex-direction: column;
            justify-content: left;
            gap: 10px;

        }
        .phone_f1{
            padding-left: 0;
        }
        .phone_f2{
            padding-left: 20px;
        }
        .site{
            transform: translateX(0);
        }
        .fa-globe{
            padding-top: 0;
        }
        .first{
           margin-bottom: 50px;
            width: 100%;
            height: 300px;
            justify-content: left;
           text-align: left;
        }
      .feature{
        margin: 0 15px 0 15px;
      }
        
       .card-body{
        margin-top: 20px;
        font-size: 20px; 
        gap: 30px;
       }
}